//  ////  ////  --  --|    FOOTER




//  ////  --|    BASE


footer {
    width: 100%;
	margin: 0;
    padding: 1.2rem 2rem;
	position: relative;
	display: block;

	background-color: rgba( darken( $white, 5% ), .8 );
    -webkit-backdrop-filter: blur(2px);


	// DESKTOP+

	// Remember styling should be inline with the header
	// if applicable, i.e. widths, padding/margins
	@include x( l ) {
		max-width: #{$container-width}rem;

		left: 50%;
		transform: translateX( -50% );

		// If header has no background color set, you can remove
		// before/after pseudo styling

		&::before, &::after {
			@include pseudo( absolute );

			width: 25vw;
			height: 4.8rem;

			top: 0;

			background-color: rgba( darken( $white, 5% ), .8 );
    		-webkit-backdrop-filter: blur(2px);
		}

		&::before { left: -25vw; }
		&::after { right: -25vw; }
	}
}


//  --|    COPYRIGHT/LEGAL

small {
	margin: 0;
    
	color: $black;

	$small-size: 1.4;

    font-size: #{$small-size}rem;
    line-height: line_height( 1, $small-size );
}