//  ////  ////  --  --|    GRID




//  ////  --|    GRID MIXIN

$columns: 12;

@mixin col( $value, $include: true, $float: left ) {

    $value: $columns / $value;

    width: percentage( 1 / $value ) - 4; // Add gutter here if margin is used

    //	Avoid repetition if element has multiple column sizes
    @if ( $include ) {
    	margin-left: 2%;
	    margin-right: 2%;
	    float: $float;
    }

    // Add alternate float if condition matches
    @if ( $include == false and $float == right ) {
    	float: right;
    }
    
}