//  ////  ////  --  --|    DEV TEMP (DAWN BUILD)




//  --|    CONTROLLERS

$header: 		true;	// DEV NAVIGATION




//  ////  --|    DEV NAVIGATION

.dev-header {

	@if ( $dev and $header ) {
		display: block;
	} @else {
		display: none;
	}

	width: auto;
	padding: 0.4rem 0.8rem;
	position: fixed;
	top: 7.2rem;
	left: 0;

	background-color: rgba( darken( $white, 10% ), .6 );
	opacity: .9;

	z-index: 9999;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0; }

	li {
		font-weight: 700;
		text-transform: uppercase; }

	li:nth-of-type(-n+2) {
		border-bottom: 0.2rem solid $black;
		margin-bottom: 0.6rem;
	}
}




//  ////  --|    GRID SYSTEM

.dev-grid {
	padding-top: 4rem;

	section {
		@extend %clearfix; }

	div {
		width: 100%;
		margin-top: 4.8rem;
		padding: 1.1rem 0;

		text-align: center;
		border: 0.1rem solid red;
		border-radius: 1.2rem;

		p {
			margin-bottom: 0;
			text-align: center; }
	}

	@include x( m ) {
		section:nth-of-type(1) div {
			@include col( 12 ); }

		section:nth-of-type(2) div {
			@include col( 6 ); }

		section:nth-of-type(3) div {
			@include col( 4 ); }

		section:nth-of-type(4) div {
			@include col( 6 ); }

		section:nth-of-type(5) {

			div:nth-of-type(1) {
				@include col( 8 ); }

			div:nth-of-type(2) {
				@include col( 4 ); }
		}
	}

	@include x( l ) {
		section:nth-of-type(1) div {
			@include col( 12, false ); }

		section:nth-of-type(2) div {
			@include col( 6, false ); }

		section:nth-of-type(3) div {
			@include col( 4, false ); }

		section:nth-of-type(4) div {
			@include col( 3, false ); }

		section:nth-of-type(5) {

			div:nth-of-type(1) {
				@include col( 8, false ); }

			div:nth-of-type(2) {
				@include col( 4, false ); }
		}
	}
}