//  ////  ////  --  --|    CAROUSEL




//  --|    BASE

.carousel {
    width: 100%;
    min-height: 12rem;
    position: relative;

    overflow: hidden;

    & > div {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        img {
            display: block;
        }
    }

    & > div:nth-of-type(1) {
        animation: 24s c_item_one infinite;
    }

    & > div:nth-of-type(2) {
        animation: 24s c_item_two infinite;
    }

    & > div:nth-of-type(3) {
        animation: 24s c_item_three infinite;
    }
}


//  --|    KEYFRAME ANIMATIONS

@keyframes c_item_one {
    0% { opacity: 1; }

    33% { opacity: 1; }

    38% { opacity: 0; }

    95% { opacity: 0; }

    100% { opacity: 1; }
}

@keyframes c_item_two {
    0% { opacity: 0; }

    33% { opacity: 0; }

    38% { opacity: 1; }

    67% { opacity: 1; }

    72% { opacity: 0; }

    100% { opacity: 0; }
}

@keyframes c_item_three {
    0% { opacity: 0; }


    67% { opacity: 0; }

    72% { opacity: 1; }

    95% { opacity: 1; }

    100% { opacity: 0; }
}